<p>
  <pre><%= h @block.snippet %></pre>
</p>

<% if @block.is_private %>
  <p>
    This code snippet is marked as <strong>PRIVATE</strong>.
  </p>
<% end %>

<p>
  <%= link_to 'Edit', edit_block_path(@block) %> or <%= link_to 'Cancel', blocks_path %>  
</p>
