<p>
  <pre><%= h @block.latest_revision.snippet %></pre>
</p>

<% if @block.is_private %>
  <p>
    This code snippet is marked as <strong>PRIVATE</strong>.
  </p>
<% end %>

<p>
  &larr; <%= link_to 'Go Back', blocks_path %>  
  <%= 'or ' + link_to('Edit', edit_block_path(@block)) if @block.signature == cookies[:signature] %> 
</p>
